.text-wrapper {
	display: none;
}

.auth-heading {
	font-size: 3rem;
	color: white;
	line-height: 2.8rem;
}

.auth-content {
	color: white;
	line-height: 22px;
}

@media (min-width: 1200px) {
	.text-wrapper {
		margin: 8rem 0 0 8rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 500px;
		max-width: 40vw;
		height: 100px;
	}
}
