main {
	margin-top: 0;
}
.authentication {
	width: 90%;
	max-width: 22rem;
	margin: 10rem auto;
	text-align: center;
}

.authentication form {
	margin-bottom: 1rem;
}

.background-paper {
	/* background-image: url('../../assets/4.jpg'); */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	overflow: auto;
	position: relative;
}
.background-paper > * {
	position: relative;
	z-index: 2;
	height: 100vh;
}

.footer-credits {
	position: fixed;
	top: 95vh;
	left: 2vw;
	z-index: 3;
}
.footer-credits a {
	font-size: smaller;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

@media (min-width: 1200px) {
	.authentication {
		grid-column: 4/8;
		grid-row: 1;
	}

	.authentication-header {
		grid-column: 1/8;
		grid-row: 2;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
	}
}
