.menu-icon {
	display: block;
	margin-right: 10vw;
}

.main-navigation__title {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.main-navigation__title a {
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
}

.main-navigation__header-nav {
	display: none;
}

.main-navigation__drawer-nav {
	height: 100%;
}

@media (min-width: 768px) {
	.menu-icon {
		display: none;
	}
	.main-navigation__menu-btn {
		display: none;
	}

	.main-navigation__header-nav {
		display: block;
	}
}
