@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');
* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	background: #292929;
}

.slide-in-left-enter {
	transform: translateX(-100%);
}

.slide-in-left-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition: all 200ms;
}

.slide-in-left-exit {
	transform: translateX(0%);
	opacity: 1;
}

.slide-in-left-exit-active {
	transform: translateX(-100%);
	opacity: 0;
	transition: all 200ms;
}

.center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
